
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>API Documentation</title>
   </head>
   <body>
      <h1> About API </h1>
      <p> Projek ini menggunakan database chinook.db yang terdapat dalam dir /data.
          Dari API ini dapat diakses 3 jenis data hasil pengolahan dengan menggunakan python.
          Berikut ini merupakan list data yang dapat diakses beserta penjelasan singkatnya </p>
      <h2> Rata-rata umur pegawai berdasarkan jabatan </h2>
      <p> Data ini merupakan data rata-rata umur dari pegawai pada setiap jawabatan. 
          Data .json dapat diakses pada alamat berikut
          <a href="https://lugita-api.herokuapp.com/average_age_title">/average_age_title</a></p>
      <h2> Minat genre di setiap negara </h2>
      <p> Data ini merupakan data banyaknya penggemar dari suatu genre di suatu negara tertentu 
          <a href="https://lugita-api.herokuapp.com/fav_genre/country">/fav_genre/country</a></p>
      <h2> Data Invoice Total Negara </h2>
      <p> Pada data ini dapat diambil data invoices dari negara yang diinginkan dengan beberapa end point sebagai berikut: </p>
      <ul>
        <li> /Argentina</li>
        <li> /Australia</li>
        <li> /Austria</li>
        <li> /Belgium</li>
        <li> /Spain</li>
        <li> /Sweden</li>
        <li> /USA</li>
        <li> /United Kingdom</li>
      </ul>
   </body>
</html>